* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #5f92d1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  text-align: center;
  background: #a6aee4;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0px 5px 15px rgba(4, 40, 81, 0.3);
}

h1 {
  color: #03091c;
  margin-bottom: 10px;
}

.score-board {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
  font-size: 18px;
}

.game-board {
  display: grid;
  grid-template-columns: repeat(20, 20px);
  grid-template-rows: repeat(20, 20px);
  gap: 1px;
  background-color: #080412;
  margin: 10px auto;
  width: 420px;
  height: 420px;
  border: 3px solid #01081a;
} 

.cell {
  width: 20px; 
  height: 20px;
  background-color: #1e1e2f;
}

.snake {
  background-color: #8b3af5;
  border-radius: 3px;
}

.food {
  background-color: #ff43d3;
  border-radius: 50%;
}

.btn-container { 
  margin-top: 10px;
}

button {
  padding: 10px 15px;
  margin: 5px;
  background: #060244;
  color: rgb(52, 145, 196);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #257aca;
}